<!DOCTYPE html>
<html lang="en" ng-app="streakMasterApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Streak Master</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        .password-container {
            position: relative;
        }
        .show-password-icon {
            position: absolute;
            right: 10px;
            top: 35px;
            cursor: pointer;
        }
    </style>
</head>
<body ng-controller="LoginController">
    <div class="login-container">
        <h1>Login to Streak Master</h1>
        <form name="loginForm" ng-submit="loginUser()" novalidate>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" ng-model="user.username" required>
                <span class="error" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">Username is required.</span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" ng-model="user.email" required>
                <span class="error" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">Valid email is required.</span>
            </div>
            <div class="form-group password-container">
                <label for="password">Password:</label>
                <input type="password" id="password" ng-model="user.password" required minlength="6">
                <i class="show-password-icon" ng-click="togglePasswordVisibility('password')">&#128065;</i>
                <span class="error" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    Password is incorrect or less than 6 characters.
                </span>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
        </form>
        <div class="message" ng-show="message">{{ message }}</div>
        <p class="signup-link">Don't have an account? <a href="register.html">Sign up here</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="apps.js"></script>
</body>
</html>
